/** FONTS **/

.font-black {
    font-family: RobotoBlack, serif;
}

.font-blackItalic {
    font-family: RobotoBlackItalic, serif;
}

.font-bold {
    font-family: RobotoBold, serif;
}

.font-boldItalic {
    font-family: RobotoBoldItalic, serif;
}

.font-medium {
    font-family: RobotoMedium, serif;
}

.font-mediumItalic {
    font-family: RobotoMediumItalic, serif;
}

.font-regular {
    font-family: RobotoRegular, serif;
}

.font-regularItalic {
    font-family: RobotoRegularItalic, serif;
}

.font-light {
    font-family: RobotoLight, serif;
}

.font-lightItalic {
    font-family: RobotoLightItalic, serif;
}

.font-thin {
    font-family: RobotoThin, serif;
}

.font-thinItalic {
    font-family: RobotoThinItalic, serif;
}

/** COLOR **/

.lightColor {
    color: #737373;
}

.darkColor {
    color: #333333;
}

/** BODY **/

button {
    outline: none !important;
}

body {
    font-family: RobotoRegular, serif;
    background-color: #eeeeee;
    font-size: 20px;
    text-align: center;
}

/** notifications **/
#notification-wrapper {
    width: 100%;
    position: absolute;
    padding: 5px;
    top: 0;
    left: 0;
}

.notification {
    position: relative;
    height: auto;
    padding: 5px 10px;
    font-size: 16px;
    margin-bottom: 5px;
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-top-color: rgba(0, 0, 0, 0.2);
    border-bottom-color: rgba(0, 0, 0, 0.25);
    border-bottom-width: 2px;
    transition: all 0.5s ease;
}

.notification .text {
    width: 95%;
    text-align: left;
    line-height: 20px;
    font: 16px RobotoBlack, serif;
    vertical-align: middle;
}

.notification .text i {
    margin-right: 5px;
    position: inherit;
}

.notification i {
    position: absolute;
    top: 5px;
    right: 8px;
    font-size: 15px !important;
    height: auto;
    width: auto;
    margin: 0;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.4);
    text-shadow: none;
}

.notification-success {
    background-color: #63A963;
}

.notification-error {
    background-color: #ED605D;
}

.notification-warning {
    background-color: #FFCE67;
}

/** 404 **/

#error h1 {
    font-size: 52px;
    margin: 20px 0
}

#error i.error {
    color: #c61f1b;
    margin-top: 40px;
    font-size: 160px !important;
    text-shadow: 0 1px 2px #737373;
}

#error-type {
    font-size: 52px;
}

/** DIV **/
.bloc {
    padding: 10px;
    border-radius: 2px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(51, 51, 51, 0.4);
    text-align: left;
    margin: 5px;
}

.inline-bloc {
    display: inline-block;
}

/** FORM */
form {
    width: 500px;
    text-align: left;
}

form button {
    width: 100%;
    font-size: 16px !important;
    text-shadow: 0 1px 1px rgba(0,0,0,0.5) !important;
}

/** TITLE **/
.title-bloc {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
    margin-bottom: 5px;
}

/** TEXT **/
.text-bloc {
    font-size: 16px;
    line-height: 20px;
    text-indent: 5px;
}

/** BASE SITE ITEMS CSS **/

h1 {
    font-size: 42px;
    margin: 20px 0
}

i {
    margin: 15px;
    font-size: 72px !important;
    text-shadow: 0 1px 2px #737373;
    color: #f7ce54;
}
